 * {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: 0.4px;
}

body {
    background-color: #FFFFD0;
}

h1, h2, p, li {
    color: #472183;
}

table, tr, td, th {
    border: 2px solid black;
}  

table {
    border-collapse: collapse;
}

.introduction {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.introduction h1 {
    font-size: 35px;
    padding-bottom: 5px;
}

.introduction p {
    font-size: 16px;
    font-weight: 600;
    padding-top: 5px;
}

.facts {
    margin: 115px 35px 40px 25px;
    margin-left: 45px;
    width: 1300px;
}

.facts h2 {
    padding-bottom: 15px;
    font-size: 28px;
    font-weight: 500;
    text-decoration: underline 1px;
}


.facts ul {
    list-style-image: url(/icons/arrow_right_FILL0_wght400_GRAD0_opsz24.png);

}

.facts li {
    padding: 10px 5px;
    list-style-position: outside;
    font-size: 24px;
    font-weight: 500;
}

.facts p {
    padding: 5px 15px 5px 15px;
    font-size: 18px;
    font-weight: 300;
}


.table_div {
    margin: 100px 75px 50px 50px;
}

.table_div table {
    background-color: rgb(255, 255, 255);
}

.table_div th {
    background-color: darkgray;
    text-align: center;
}

.table_div th {
    width: 150px;
    height: 30px;
    color: black;
}

.table_div td {
    width: 200px;
    height: 30px;
    color: rgb(66, 62, 62);
}

#admin_land {
    font-weight: 600;
}




